* {
    margin: 0;
    padding: 0; 
}
body  {
    font-family: "Open Sans",  sans-serif;
}
/* Navigation */
nav {
    text-align: center;
    box-shadow:   0px 0px 6px 1px gray ;  
    padding-top: 10px;
    padding-bottom: 10px; 
}
nav > img {
    height: 60px; 
    width: 100px;  
}


 /* Container  */
#container {
    width: 50%;
    height: 840px;
    margin: 40px auto;
    border: 1px solid #CDCDCD; 
} 

/* LOGIN and SIGNUP buttons */
#container > #btn-div {
    display: grid;
    grid-template: 60px / 1fr 1fr;
}

#container > #btn-div > button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 800;
    /* font-family:  sans-serif; */
    color: #4F4F4F;
    outline: none;
} 
/* #container > #btn-div > #signup-btn { 

}  */
#container > #btn-div > #login-btn {
    border-left: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD ; 
    background-color: #F9F9F9;
 } 
 

/* Heading */
#container > #heading{
     text-align: center;
     font-size: 2.5rem;  
    margin-top: 3rem; 
    opacity: 0.8;
}
/* sub heading */
#container > #sub-heading {
    text-align: center; 
    opacity: 0.9;
    letter-spacing: 1px;
    line-height: 1.8rem;
    margin-top: 40px;
}

/* Social Meadia */
#media-div { 
    height: 40px;
    width: 80%;
    margin: 30px auto 20px auto;
    display: grid;
    grid-template : 1fr / 1fr 1fr;
    grid-gap  : 20px;
}

#media-div > div { 
    display: grid;
    grid-template: 40px / 1fr 4fr  ;
    grid-gap: 10px; 
    padding: 4px;
    box-shadow:  0px 0px 6px 1px  #CDCDCD;
    cursor: pointer;
}

#media-div > div > i {
    font-size: 2rem;
    margin-left: 1rem;
    line-height: 40px;
}
#media-div > div > #google-icon {
    color:  #0F9D58; 
}
#media-div > div > #facebook-icon {
    color: #4267B2 ; 
} 
#media-div > div > p {
    line-height: 40px;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: bolder;
}

 /* Form  */
form {
    /* background-color: aqua; */
    width: 80%;
    margin: 30px auto 20px auto;
    height: 400px; 
    grid-gap: 30px;
} 
input {
    height: 50px;
    margin-top: 20px;
}
/* Button */
#submit {
    border: none;
    outline: none;
    width: 8rem;
    height: 2.5rem;
    background-color: #00808C;
    color: white;
    border-radius: 6px ;
    margin-top: 10px;
}
  